body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    padding: 0px  50px 20px;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
}

form, table {
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

button[type="submit"] {
    
    background-color: #4CAF50;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

.borrow-btn, .return-btn, .update-btn, .delete-btn {
    cursor: pointer;
    color: #333;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 3px;
    margin-right: 5px;
}

.borrow-btn {
    background-color: #4CAF50;
    color: white;
}

.borrow-btn:hover {
    background-color: #45a049;
}

.return-btn {
    background-color: #2196F3;
    color: white;
}

.return-btn:hover {
    background-color: #1e88e5;
}

.update-btn {
    background-color: #FFC107;
    color: white;
}

.update-btn:hover {
    background-color: #ffb300;
}

.delete-btn {
    background-color: #f44336;
    color: white;
}

.delete-btn:hover {
    background-color: #e53935;
}